<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/chart.css" />
</head>
<body>
  <div class="container">
    <canvas id="type-car-chart"></canvas>
    <canvas id="type-car-color-chart"></canvas>
    <canvas id="type-traffic-density"></canvas>
    <h2 class="title">Thống kê mật độ giao thông</h2>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/chart.js"></script>
  </div>
</body>
</html>